*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px 10px;
}
img{
    width: 100%;
}
.img-card{
    width: 200px;
    padding: 5px 5px;
    margin: 5px 5px;
}
.container{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
    width: 300px;
}
.logo{
    width: 50px;
    height: 50px;
}
header > div{
    display: inline;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 1px 1px lightgray;
}
.card{
    border: 1px solid black;
    padding: 5px 5px;
    width: 250px;
    text-align: center;
    background-color: #ebf5fb;
    border-color: #aed6f1;
}
table{
    text-align: left;
}
a{
    text-decoration: none;
}
th{
    font-size: 14px;
}
td{
    font-size: 13px;
    margin-left: 5px;
}
h4{
    background-color:  #a9cce3  ;

}
.container{
    display: flex;
}